/* .auth-form {

} */

#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
    background-color:white;
    padding: 72px 32px 48px 32px;
    width: 396px;
    height: 673px;
}

.alternate-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
    cursor: pointer;
}

.alternate-button:hover {
    text-decoration: underline;
}

#alternate-button-container {
    text-align: center;
    margin-top: 16px;
}
