.profile {
    padding-top: 150px;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }

h1 {
    font-size:20px;
    font-weight: bold;
    text-decoration: underline;
    /* padding-bottom: 20px; */
    /* margin-top: 20px; */
    margin: 5px;
}

.showpage {
    padding-top: 10px !important;   
}