.profile {
    padding-top: 150px;
    width: 1024px;
    text-align: center;
    margin: 0 auto 200px;
}

h1 {
    font-size:20px;
    font-weight: bold;
    text-decoration: underline;
    /* padding-bottom: 20px; */
    /* margin-top: 20px; */
    margin: 5px;
}

.showpage {
    padding-top: 10px !important;   
}